@font-face {
	font-family: "OpenSans";
	src: url(../../assets/fonts/opensans-variablefont_wdthwght-webfont.woff)
			format("woff"),
		url(../../assets/fonts/opensans-variablefont_wdthwght-webfont.woff2)
			format("woff2");
}

@font-face {
	font-family: "OpenSansItalic";
	src: url(../../assets/fonts/opensans-italic-variablefont_wdthwght-webfont.woff)
			format(woff),
		url(../../assets/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2)
			format(woff2);
}

@font-face {
	font-family: "cookie";
	src: url(../../assets/fonts/Cookie-Regular.ttf) format(truetype);
}

body {
	background-color: #0d0c0c;
	background-size: 100vh;
	height: 100vh;
	color: white;
	display: grid;
	grid-template-rows: 0.5fr 3.5fr;
	overflow: hidden;
}

main {
	width: 100%;
	z-index: 2;
}

nav {
	font-size: 30px;
	width: 10vw;
}

nav > ul {
	display: flex;
	height: 20vh;
	flex-direction: column;
	justify-content: space-between;
}

nav > ul > li {
	text-align: right;
	font-family: "OpenSans";
	box-shadow: 0px 1px white;
	transition: 1500ms;
	cursor: pointer;
}

nav > ul > li:hover {
	transform: scale(110%);
	transition: 1500ms;
}

nav > ul > li:active {
	transform: scale(110%);
	transition: 1500ms;
	cursor: pointer;
}

#title {
	display: flex;
	font-family: "cookie";
	font-size: 50px;
	margin: 0;
	justify-content: center;
	padding-top: 10px;
	filter: drop-shadow(-10px 16px 12px black);
	z-index: 2;
}

#menuList {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 80%;
	padding-left: 470px;
	align-content: space-around;
	list-style: none;
	width: 75%;
}

.menuImages {
	position: relative;
	z-index: 1;
	border-radius: 5px;
	filter: brightness(40%) drop-shadow(-10px 16px 12px black);
	transition: 1000ms;
}

.itemTitles {
	position: relative;
	bottom: 50%;
	right: -30%;
	word-wrap: normal;
	z-index: 2;
	font-family: "OpenSansItalic";
	font-weight: bolder;
	font-size: 25px;
}
.menuImages:hover {
	filter: brightness(100%);
	transform: scale(110%);
	transition: 1000ms;
}

.opacity {
	opacity: 0;
	transition: 1000ms;
}

#navAndContentContainer {
	display: flex;
}

#backgroundImgContainer {
	position: absolute;
	justify-self: center;
	box-shadow: 25px -25px 5px 0 #0d0c0c inset, -25px -200px 5px 0 #0d0c0c inset;
}

#backgroundImg {
	position: relative;
	justify-self: center;
	height: 100vh;
	z-index: -1;
}

.homeEls {
	width: 43.5%;
	margin-left: 23%;
}

#homeHeader {
	font-size: 45px;
	margin-bottom: 25px;
	margin-top: 20px;
	text-align: center;
	filter: drop-shadow(-10px 16px 12px black);
}

#homePara {
	font-size: 25px;
	background-color: #0d0c0c88;
	border-radius: 7px;
	padding: 15px;
}

#map {
	height: 400px;
	width: 400px;
	position: relative;
	left: 620px;
	top: 70px;
	border-radius: 5px;
}

#phoneAndLoc {
	font-size: 25px;
	position: relative;
	left: 650px;
	top: 50px;
}
